.messages p {
    padding: 15px;
}

/* search result card */
.cards article {
    background-color: #FFFFFF;
    border: 1px solid #E2E2E2;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    height: 300px;
    overflow: hidden;
    transition:all 1s;
    position: relative;
}


.cards .result:after{
    content:'';
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    opacity:0.8;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

article.results footer{
    background-color: transparent;
    width: 100%;
    float:left;
}

article.result h3 {
    margin-top: 0;
    font-size: 1.1em;
    text-align: left;
}

article.result h4 {
    font-size: 0.8em;
    text-align: left;
}

article.result h4 span,
.content h4 span{
    font-weight: normal;
}

article.result p {
    font-size: 14px;
}

.result .title,
.result .summary {
    padding: 0.5em 1em 0;
}
.result .title {
    background-color: #FFFFFF;
    border-bottom: 1px solid #F0F0F0;
}

.readmore {
    font-size: 1.4em;
    line-height: 0;
    float: left;
    color: rgb(194, 205, 216);
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    position: absolute;
    right: -4px;
    padding: 6px 14px;
}
.readmore:hover {
    background-color: rgb(235, 235, 235);
}

/* preview panel for card-style search results */
#menu-7 .content .readmore {
    display: none;
    visibility: hidden;
}

#menu-7 .progress {
    margin-top: 20px;
}
.st-menu h2 {
    background: rgb(60, 60, 60);
    color: #8A8A8A;
}
.st-menu {
    background: rgb(230, 230, 230);
    color: rgb(54, 54, 54);
}
.st-menu .content p {
    font-size: 0.8em;
}
#menu-7 .close {
    color: #EEEEEE;
    text-shadow: none;
    padding: 40px 20px;
}


/* paginator */
footer.pagination {
    text-align: center;
}
.pagination .h4 {
    margin: 12px 0 5px;
    color: #BABEC0;
}
.paginator {
    overflow-x: scroll;
    font-size:1em;
    width:100%;
    padding: 10px 40px 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.paginator table {
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}
.paginator table tr {
    float: left;
}
.paginator table td {
    white-space:nowrap;
    text-align: center;
    padding: 0;
}
.paginator span {
    display:block;
    padding:0;
    color:#fff;
}
.paginator span strong,
.paginator span a {
    display:block;
    font-size:0.85em;
    padding: 6px 15px;
}
.paginator a {
    color: #888888;
    text-decoration:none;
}

.paginator .active a{
    color:#FFF;
    background-color: #888888;
}

.paginator a:hover{
    color:#FFF;
    background-color: #C7C7C7;
}
.paginator span em {
    font-style:normal;
    padding:3px 5px 4px;
}
.paginator a:hover em {
    background-color:#888888;
}
.paginator span strong {
    font-weight:normal;
}
.paginator span strong em {
    background-color:#556E8C;
}
.paginator .scroll_bar {
    width:100%; height:20px;
    position:relative;
    margin-top:4px;
}

/* advanced search filter */
.no-js .adv.group{
    display:block!important;
}

.adv.group {
    max-width: 800px;
    /*color: #BDC3C7;*/
    padding: 15px;
}

.adv.group .form-group {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.adv.group .btn.btn-adv {
    margin-top: 25px;
    width: 100%;
}

.adv.toggle.switch {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 0.9em;
}

.adv.toggle.switch a{
    color: rgb(150, 150, 150);
}

.adv.toggle.switch a:hover,
.adv.toggle.switch a:focus,
.toggle.switch.active a {
    /*color: #f6f6f6;*/
}

.adv.group header h4 {
    text-align: center;
    /*color: #BDC3C7;*/
    border-bottom: 1px solid rgb(112, 112, 112);
    margin-bottom: 18px;
    padding-bottom: 7px;
}

.adv.group .form-control {
    margin-bottom: 15px;
    font-size: 12px;
    height: 32px;
}
.adv.group label{
    font-size: .8em;
    color: rgb(213, 213, 213);
    margin-bottom: 0;
    font-size: 15px;
    text-align: right;
}

.reset-form {
    margin-right: 30px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 0.9em;
}
.reset-form a {
    color: rgb(131, 133, 141);
    text-shadow: 1px 1px 3px rgb(209, 209, 209);
}
.reset-form a:hover {
    color: #F7F7F7;
}

